.wrap {
  background-image: linear-gradient(rgba(95, 158, 160, 0.472), rgba(255, 255, 255, 0));
  height: 100vh;
  box-sizing: border-box;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  color: rgba(0, 0, 0, 0.568);
  border-bottom: 2px solid black;
  /* border: 2px solid blue; */
}

.nav .head {
  margin: 0 30px;
  padding-right: 30px;

}

.nav .navbar li {
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: transparent;
  border: 2px solid black;
  color: #111;
  font-size: 15px;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  height: 58px;
  transform: skew(-3deg, 1deg);
  font-family: 'Knewave', cursive;
  letter-spacing: 2px;
}

.app{
  display: flex;
  justify-content: center;
  align-items:center;
  border-bottom: 2px solid black;
  padding: 20px;
}
