<div class="wrap">
  <div class="nav">
    <div class="head">
      <h1>MyLibray</h1>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="#">Music</a></li>
        <li><a href="#">Game</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="search">
    <input type="text" placeholder="wyszukaj albumu">
  </div>
  <hr>
  <div class="container">
    <h3>Lista płyt w kolekcji:</h3>
    <a href="" *ngFor="let music of musicList">
      <div class="claster">
        <span>{{music.artist}} {{music.album}}
          <img [src]="music.imgCover" alt="" class="cover" style="max-height: 50px;"></span>
      </div>
    </a>
  </div>
</div>
