.wrap {
  background-image: linear-gradient(rgba(95, 158, 160, 0.472), rgba(255, 255, 255, 0));
  height: 100vh;
  box-sizing: border-box;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  color: rgba(0, 0, 0, 0.568);
  border-bottom: 2px solid black;
}

.nav .header {
  margin: 0 30px;
  padding-right: 30px;
}

.nav .navbar li {
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: transparent;
  border: 2px solid black;
  color: #111;
  font-size: 15px;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  height: 58px;
  transform: skew(-3deg, 1deg);
  font-family: 'Knewave', cursive;
  letter-spacing: 2px;
}

/* .add {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 20px;
} */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}


/* add  */
.container2{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 120px;
  justify-content: center;
  align-items: flex-end;
}
.container2 input{
  width: 400px;
  margin: 5px;
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
}

button{
  height: 70px;
  width: 70px;
  border-radius: 90%;
  margin-left: 30px;
}