<div class="wrap">
  <div class="nav">
    <div class="head">
      <h1>MyLibray</h1>
    </div>
    <div class="navbar">
      <ul>
        <li><a class="nav-link" href="#">Music</a></li>
        <!-- <li><a class="nav-link" href="#">Game</a></li> -->
        <li><a class="nav-link" href="#">SAVE</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="search">
    <input type="text" placeholder="wyszukaj albumu">
    <button>Szukaj</button>
  </div>
  <hr>
  <div class="container">
    <div class="collection" *ngFor="let music of musicList; index as a">
      <span style="--i:{{a+1}}"><img [src]="music.imgCover" alt="" class="cover" style="max-height: 150px;"></span>
      <!-- <a href="" *ngFor="let music of musicList">
        <div class="claster">
          <img [src]="music.imgCover" alt="" class="cover" style="max-height: 50px;">
          {{ music.artist}} - {{music.album}}
        </div>
      </a> -->
    </div>
  </div>
</div>

